@import "./variables.scss";
@import "./transitions.scss";
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1d1651;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  padding-top: 100px;
  padding-left: 100px;
}

#nav {
  .nav-link {
    margin-right: 20px;
  }
  a {
    font-weight: bold;
    color: white;
    font-weight: 200;
    text-decoration: none;
    &.router-link-exact-active {
      font-weight: 900;
    }
  }
}

.link {
  cursor: pointer;
  font-weight: 900;
  font-size: 1.2em;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $teal;
  }
}
