@import "./variables.scss";

.small-green-line {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: $teal;
}

.spacer30 {
  height: 30px;
}

.spacer50 {
  height: 50px;
}

.spacer80 {
  height: 80px;
}

@mixin circle {
  position: absolute;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.completed-circle {
  @include circle;
  background-color: #22dab6;
}

.incompleted-circle {
  @include circle;
  background-color: darkred;
}
