@import "./variables.scss";

.v--modal {
  color: $charcoal;
  background-color: $offwhite;
  border-radius: 8px !important;
  padding: 20px !important;
}

.new-project-modal {
  .title {
    font-weight: 600;
    font-size: 1.1em;
  }
}
