@import "./variables.scss";

@mixin status-link {
  margin-left: -20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

@mixin span-title {
  .title {
    margin-left: 5px;
  }
}

.project-card-and-detail-wrapper {
  display: flex;

  .project-card {
    @include card();
    width: 300px;

    .metadata {
      @include card-puple-header-bg();

      .main-objective {
        padding: 0px 20px 20px 20px;
        font-size: 0.9em;
      }
    }
    .status-action-links-wrapper {
      height: 42px;
      width: calc(100% - 20px);
      position: absolute;
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-radius: 10px;

      .delete-link {
        @include status-link();
        background-color: $red;
        border-bottom-left-radius: 5px;

        @include span-title();

        &:hover {
          background-color: $darkred;
        }
      }

      .archive-link {
        @include status-link();
        background-color: $red;
        border-bottom-right-radius: 5px;

        @include span-title();

        &:hover {
          background-color: $darkred;
        }
      }

      .unarchive-link {
        @include status-link();
        background-color: $teal;
        border-bottom-right-radius: 5px;

        @include span-title();

        &:hover {
          background-color: $charcoal;
        }
      }
    }
  }
}
