.project-cards-wrapper {
  display: flex;

  .new-project {
    height: 705px;
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-items {
    padding-top: 170px;

    .line-item {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
