.project-details-card {
  @include card();
  margin-top: 50px;
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-weight: 900;
      color: $teal;
      font-size: 1.5em;
    }

    .action-icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
      color: $teal;
      transition: all 0.5s ease-in-out;
      font-size: 2em;

      &:hover {
        color: $darkteal;
        cursor: pointer;
      }

      .close-icon {
        color: $red;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: $darkred;
        }
      }
    }
  }

  .card-details-description {
    &:hover {
      cursor: pointer;
    }
  }

  .status {
    align-self: flex-end;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
  }
}

.list-wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
